<form action="http://localhost/introMVC/controller/controller_cadastro.php" method="post">
    <div>
        <label for="nome">Nome</label>
        <input type="text" id="nome" name="nome">
    </div>
    <div>
        <label for="sobrenome">Sobrenome</label>
        <input type="text" id="sobrenome" name="sobrenome">
    </div>
    <div>
        <label for="idade">Idade</label>
        <input type="number" id="idade" name="idade">
    </div>
    <div>
        <label for="senha">Senha</label>
        <input type="password" id="senha" name="senha">
    </div>
    <div>
        <button type="submit">Cadastrar</button>
    </div>
    <div>
    </div>
</form>